@use "./global/variables" ;


// main page header/ 


.mainHeader{
    background-image: url(../assets/header-home.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.mainHeaderFlex{
    display: flex;
    justify-content: space-between;
 }

 .headerImgContainer{
    width: 55%;
   
    height: 55%;
    padding-top: 30px;
    padding-right: 75px
    
    img{
        max-width: 100%;
        display: block;
         
    }
 }

// blog page header

.blogHeader{
    background-image: url(../assets/blog-image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.blogHeaderFlex, .contactHeaderFlex{
    display: flex;
    justify-content: space-between;
    
    h3{
        padding-left: 150px;
    }

}

// contact page header

.contactHeader{
    background-image: url(../assets/contact-image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}