@use "./global/variables" ;


// main page header/ 


.mainHeader{
    background-image: url(../assets/header-home.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

    
    // h1{
    //     font-size: 2.5rem;
    //     padding-left: 150px;
    //     padding-top: 50px;

    //     span{
    //         display: block;
    //     }
    // }
}

.mainHeaderFlex{
     display: flex;
    justify-content: space-between;
 }

 .headerImgContainer{
    width: 55%;
    // width: 750px;
    // height: 600px;
    height: 55%;
    padding-top: 30px;
    padding-right: 75px
    
    img{
        max-width: 100%;
        display: block;
         
    }
 }





// contact page header