@use "./global/variables";

.navBar{
    margin-right: 60px;

    ul{
        display: flex;
        list-style: none;

        a{
            padding: 0 15px;

            &:hover
        }
    }
}

 



    

    
    
    

    
       