@use "./global/variables";

// home page sections//

// discovery section

.discoverFlex{
    display: flex;
    align-items: center;
   padding: 30px 70px;
   width: 100%;
}

.discoverContainer{
    padding-bottom: 250px;
    
}

.discoverImg{
    height: 600px;
    width: 600px;
    margin-top: 200px;
    margin-left: 150px;
}