@use "./global/variables";

// home page sections//

// discovery section

.discoverFlex{
    display: flex;
    align-items: center;
    padding: 150px 70px;
}

.discoverContainer{
   width: 70%;
    
   p{
    padding-right: 90px;
        }
}

.discoverImg{
    width:30%;

    img{
        padding-top:90px;
        }
}

// gallery section

.gallery{
    background-color: #e0fddf;
}


.galleryFlex{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
    li{
        width: calc((100% / 3) - 40px);
        margin: 0 20px 20px;
    }
}

// links section/

.linksFlex{
    display: flex;
    width: 100%;
    padding: 40px 100px;


}

.leftLinks, .rightLinks{
    padding: 0 50px;
}

// new locations/ new programs

.offersFlex{
    background-color: #e0fddf;
    display: flex;
    width: 100%;
}

.groupPrograms{
    padding: left 200px; ;
}

.newLocations{
    padding-right: 200px;
}

.newLocationsContent{
    text-align: end;
    padding: 20px 0 30px 100px;;

    p{
        text-align:unset;
    }
}

.groupProgramsContent{
    padding: 20px 100px 30px 0;
}

// search by style section

.search{
    text-align: center;
    padding: 50px 100px;
}

// blog sections / comments

.blogFlex, .topCommentFlex, .bottomCommentFlex{
    display: flex;
}

.blog{
    width: 100%;
    padding-right: 100px;
}

.blogContent{
    padding-left: 150px;
}

// sidebar

.sidebar{
    margin-left: 120px;
    padding: 50px 0;
    width: 25%;
}

// comments section

.comments{
    padding: 0 300px 0 80px;
    background-color: aqua;

}

.topCommentImgContainer, .bottomCommentImgContainer{
     width: 20%;
     padding-top: 30px;
}

.topCommentContent, .bottomCommentContent{
    width: 80%;
    padding-right: 50px;
}