@use "./global/variables";

// home page sections//

// discovery section

.discoverFlex{
    display: flex;
    align-items: center;
    padding: 150px 70px;
}

.discoverContainer{
   width: 70%;
    
   p{
    padding-right: 90px;
        }
}

.discoverImg{
    width:30%;

    img{
        padding-top:90px;
        }
}

// gallery section

.galleryFlex{
    display: flex;
    flex-wrap: wrap;

    li{
        width: calc((100% / 3) - 40px);
        margin: 0 20px 20px;
    }
}

// links section/

.linksFlex{
    display: flex;
    width: 100%;
    padding: 40px 100px;


}

.leftLinks, .rightLinks{
    padding: 0 50px;
}