@use "./global/variables";

// home page sections//

// discovery section

.discoverFlex{
    display: flex;
    align-items: center;
    padding: 150px 70px;
}

.discoverContainer{
   width: 70%;
    
   p{
    padding-right: 90px;
        }
}

.discoverImg{
    width:30%;

    img{
        padding-top:90px;
        box-shadow: 30px 30px variables.$brightYellow;
        }
    }

// gallery section/

.gallery{
    background-color: variables.$secondary;

}


.galleryFlex{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
    li{
        width: calc((100% / 3) - 40px);
        margin: 0 20px 20px;
        padding: 40px 0;
    }
}

// links section/

.linksFlex{
    display: flex;
    width: 100%;
    padding: 40px 100px;


}

.leftLinks, .rightLinks{
    padding: 0 50px;
}

// new locations/ new programs

.offersFlex{
    background-color: variables.$secondary;
    display: flex;
    width: 100%;
}

.newLocations{
    padding-right: 200px;
}

.newLocationsImg{
    position: relative;

    img{
        position: absolute;
        top: -30px;
         box-shadow: 20px 20px variables.$brightYellow;
         
    }
}

.newLocationsContent{
    text-align: end;
    padding: 350px 0 30px 100px;;

    p{
        text-align:unset;
    }


}
.groupPrograms{
    padding: left 200px; 
}

.groupProgramsImg{
    position: relative;

    img{
        position: absolute;
        box-shadow: -20px 20px variables.$brightYellow;
    }
}

.groupProgramsContent{
    padding: 20px 100px 30px 0;
}

// search by style section

.search{
    text-align: center;
    padding: 50px 100px;
    margin: 80px;
}


// BLOG

// blog sections / comments

.blogFlex, .topCommentFlex, .bottomCommentFlex{
    display: flex;
}

.blog{
    width: 100%;
    padding-right: 100px;
     position: relative;

    img{
         position: absolute;
         top: -180px;
         width: 85%;
         box-shadow: 15px 15px variables.$brightYellow;
    }
}

.blogContent{
    padding: 400px 40px 0 150px;
    box-shadow: 10px 10px variables.$brightYellow;
    margin-right: 43px;
    
}

// sidebar

.sidebar{
    margin-left: 120px;
    padding: 50px 0;
    width: 25%;

    img{
        box-shadow: -10px 10px variables.$brightYellow;
    }
}

.sidebarContent{
    background-color: variables.$brightYellow;
    padding: 15px;
    margin: -10px;
}

// comments section

.comments{
    padding: 0 300px 0 80px;
    background-color: aqua;

}

.topCommentImgContainer, .bottomCommentImgContainer{
     width: 20%;
     padding-top: 30px;
}

.topCommentContent, .bottomCommentContent{
    width: 80%;
    padding-right: 50px;
}



