// 1000px screen-size devices and smaller
@media (max-width: 1000px){
    header {
        .mainHeader{
            img{
                background-size: contain;
            background-repeat: no-repeat;
            }
            
        }
        h1{
              padding-left: 15%;
        }
    }
}

@media (max-width: 976px){
    .mainHeader{
        h1{font-size: 2.2rem;
        }
    }
}

@media (max-width: 928px){
    .navBar{
        ul{
            padding-left: 10px;
        }
    }
}

@media (max-width: 886px){
    .mainHeader{
        h1{
            font-size: 2rem;
        }
    }
}      


@media (max-width: 844px){
        .mainHeader{

            h1{
                font-size: 1.8rem;
            }

            background-size: contain;
        }

        .discoverFlex, .galleryFlex{
            padding: 10px;
        }

        .linksFlex{
            padding: 30px;
        }

        p{
            font-size: 0.8rem;
        }

       
    

        


    }
