@use "./partials/global/setup";
@use "./partials/global/variables";
@use "./partials/global/typography";
@use "./partials/global/base";
@use "./partials/global/mediaQueries";
@use "./partials/header";
@use "./partials/nav";
@use "./partials/sections";
@use "./partials/global/footer";
@use "./partials/forms";