html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* gujarati */
@font-face {
  font-family: "Kumar One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumarone/v17/bMr1mS-P958wYi6YaGe2KOSXY3o.woff2) format("woff2");
  unicode-range: U+0964-0965, U+0A80-0AFF, U+200C-200D, U+20B9, U+25CC, U+A830-A839;
}
/* latin-ext */
@font-face {
  font-family: "Kumar One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumarone/v17/bMr1mS-P958wYi6YaGe2PeSXY3o.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Kumar One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumarone/v17/bMr1mS-P958wYi6YaGe2M-SX.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* gujarati */
@font-face {
  font-family: "Kumar One Outline";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumaroneoutline/v17/Noao6VH62pyLP0fsrZ-v18wlUEcX9wDsTwqMEA.woff2) format("woff2");
}
@font-face {
  font-family: "Kumar One Outline";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumaroneoutline/v17/Noao6VH62pyLP0fsrZ-v18wlUEcX9wD5TwqMEA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Kumar One Outline";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumaroneoutline/v17/Noao6VH62pyLP0fsrZ-v18wlUEcX9wD3Two.woff2) format("woff2");
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXjeu.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  font-size: 125%;
}

h1 {
  font-family: "Kumar One Outline";
  font-size: 2.5rem;
  padding-left: 150px;
  padding-top: 50px;
}
h1 span {
  display: block;
}

h2, h3 {
  font-family: "Kumar One";
  font-size: 1.3rem;
}
h2 span, h3 span {
  display: block;
}

p, a, h4 {
  font-family: "Lato";
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  line-height: 1.5;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1260px;
}

img {
  max-width: 100%;
  display: block;
}

button {
  color: #f5f5f5;
  background-color: #065635;
  padding: 15px;
  font-size: 1rem;
  font-family: "Kumar One";
  padding-bottom: 5px;
}

@media (max-width: 1000px) {
  header .mainHeader img {
    background-size: contain;
    background-repeat: no-repeat;
  }
  header h1 {
    padding-left: 15%;
  }
}
@media (max-width: 976px) {
  .mainHeader h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 928px) {
  .navBar ul {
    padding-left: 10px;
  }
}
@media (max-width: 886px) {
  .mainHeader h1 {
    font-size: 2rem;
  }
}
@media (max-width: 844px) {
  .mainHeader {
    background-size: contain;
  }
  .mainHeader h1 {
    font-size: 1.8rem;
  }
  .discoverFlex, .galleryFlex {
    padding: 10px;
  }
  .linksFlex {
    padding: 30px;
  }
  p {
    font-size: 0.8rem;
  }
}
.mainHeader {
  background-image: url(../assets/header-home.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.mainHeaderFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerImgContainer {
  width: 55%;
  height: 55%;
  padding-top: 30px;
  padding-right: 75px img;
  padding-right-max-width: 100%;
  padding-right-display: block;
}

.blogHeader {
  background-image: url(../assets/blog-image.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.blogHeaderFlex, .contactHeaderFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogHeaderFlex h3, .contactHeaderFlex h3 {
  padding-left: 150px;
}

.contactHeader {
  background-image: url(../assets/contact-image.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.navBar {
  margin-right: 60px;
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.navBar ul a {
  padding: 0 15px;
}
.navBar ul a:hover {
  border-bottom: 2px solid #f8fb05;
}
.navBar ul a:focus {
  border-bottom: 2px solid #f8fb05;
}
.navBar ul a:active {
  border-bottom: 2px solid #f8fb05;
}

.discoverFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 70px;
}

.discoverContainer {
  width: 70%;
  padding-top: 70px;
}
.discoverContainer p {
  padding-right: 90px;
}

.discoverImg {
  width: 30%;
}
.discoverImg img {
  padding-top: 90px;
  -webkit-box-shadow: -15px 15px #f8fb05;
          box-shadow: -15px 15px #f8fb05;
}

.gallery {
  background-color: #e0fddf;
}

.galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.galleryFlex li {
  width: calc(33.3333333333% - 40px);
  margin: 0 20px 20px;
  padding: 40px 0;
}

.linksFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 100px;
}

.leftLinks, .rightLinks {
  padding: 0 50px;
}

.offersFlex {
  background-color: #e0fddf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.newLocations {
  padding-right: 200px;
}

.newLocationsImg {
  position: relative;
}
.newLocationsImg img {
  position: absolute;
  top: -30px;
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
}

.newLocationsContent {
  text-align: end;
  padding: 350px 0 30px 100px;
}
.newLocationsContent p {
  text-align: unset;
}

.groupPrograms {
  padding: left 200px;
}

.groupProgramsImg {
  position: relative;
}
.groupProgramsImg img {
  position: absolute;
  -webkit-box-shadow: -20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05;
}

.groupProgramsContent {
  padding: 20px 100px 30px 0;
}

.search {
  text-align: center;
  padding: 50px 100px;
  margin: 80px;
}

.mainBlog, .mainContact {
  background: #e0fddf;
}

.blogFlex, .topCommentFlex, .bottomCommentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog {
  width: 100%;
  padding-right: 100px;
  position: relative;
}
.blog img {
  position: absolute;
  top: -180px;
  width: 85%;
  -webkit-box-shadow: 15px 15px #f8fb05;
          box-shadow: 15px 15px #f8fb05;
}

.blogContent {
  padding: 400px 40px 20px 150px;
  -webkit-box-shadow: 10px 10px #f8fb05;
          box-shadow: 10px 10px #f8fb05;
  margin-right: 43px;
  margin-bottom: 20px;
  background: #f5f5f5;
}

.sidebar {
  margin-left: 120px;
  padding: 50px 0;
  width: 25%;
  margin-top: 70px;
}
.sidebar img {
  -webkit-box-shadow: -10px 10px #f8fb05;
          box-shadow: -10px 10px #f8fb05;
}

.sidebarContent {
  background-color: #f8fb05;
  padding: 15px;
  margin: -10px;
}

.comments {
  padding: 0 300px 0 80px;
}

.topCommentImgContainer, .bottomCommentImgContainer {
  width: 20%;
  padding-top: 30px;
}

.topCommentContent, .bottomCommentContent {
  width: 80%;
  padding-right: 50px;
  margin-right: 120px;
}

.footer {
  background-color: black;
}
.footer p {
  color: white;
  text-align: center;
}

.contactForm {
  display: grid;
  padding: 10px 500px 10px 75px;
}
.contactForm input, .contactForm textarea {
  background: #e0fddf;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  position: relative;
}
.wrapper .contactAbsolute {
  position: absolute;
  top: -150px;
  left: 150px;
  display: grid;
  width: 750px;
  height: 400px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
}